[submodule "process_data/submodules/RobustVideoMatting"]
	path = process_data/submodules/RobustVideoMatting
	url = https://github.com/PeterL1n/RobustVideoMatting
[submodule "process_data/submodules/cloth-segmentation"]
	path = process_data/submodules/cloth-segmentation
	url = https://github.com/levindabhi/cloth-segmentation
[submodule "process_data/submodules/PIXIE"]
	path = process_data/submodules/PIXIE
	url = https://github.com/yfeng95/PIXIE
